.BaseHud
{
    width: 100%;
    height: 100%;
}

.MusicPlayer
{
    padding-top: 2px;
    padding-left: 52px;
    flow-children: right;
}

#MusicPlayerText
{
    color: #FFCC00;
    text-shadow: 2px 2px 2px black;
    font-size: 34px;
    font-weight: bold;
    margin-top: 0px;
}

.MusicPlayerButton
{
    width: 38px;
    height: 38px;
    margin-left: 2px;
}

#rewindBtn
{
    background-image: url("file://{resources}/images/custom_game/music_player/RewindBtn.png");
    background-size: 100%;
}

#stopBtn
{
    background-image: url("file://{resources}/images/custom_game/music_player/StopBtn.png");
    background-size: 100%;
}

#pauseBtn
{
    background-image: url("file://{resources}/images/custom_game/music_player/PauseBtn.png");
    background-size: 100%;
    margin-right: -40px;
}

#playBtn
{
    background-image: url("file://{resources}/images/custom_game/music_player/PlayBtn.png");
    background-size: 100%;
}

#forwardBtn
{
    background-image: url("file://{resources}/images/custom_game/music_player/ForwardBtn.png");
    background-size: 100%;
}

#loopBtn
{
    background-image: url("file://{resources}/images/custom_game/music_player/LoopBtn.png");
    background-size: 100%;
}

.Clip
{
    clip: rect(44px, 300px, 110px,0px);
    height: 80px;
    width: 270px;
    margin-left: 52px;
}

#NowPlayingBox
{
    margin-top: 44px;
    height: 22px;
    width: 270px;
    margin-top: 22px;
    text-overflow: clip;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

#NowPlaying
{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-align: center;
    animation-name: scroll;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.playing
{
    transform: translateY(22px);
}


@keyframes 'scroll' 
{
    0% 
    {
        transform: translateX(100%);
    }
    100% 
    {
        transform: translateX(-100%);
    }
}